body{
  margin: 0;
}

a{
  text-decoration: none;
}
/*containerクラスのwidthを1170pxに、左右のpaddingを15pxに、
左右のmarginをautoに指定してください*/
.container{
  width:1170px;
  padding:0 15px;
  margin:0 auto;
}


/*top-wrapperクラスの上下のpaddingをそれぞれ180px,100pxに、
background-imageのurlを「http://prog-8.com/images/html/advanced/top.png」に、
background-sizeをcoverに、文字の色をwhiteに指定してください*/
.top-wrapper{
  padding: 180px 0 100px 0;
  background-image: url(http://prog-8.com/images/html/advanced/top.png);
  background-size: cover;
  color: white;
  /*padding:180px 0 100px 0;
  background-image:url(http://prog-8.com/images/html/advanced/top.png);
  background-size:cover;
  color:white;*/
}
/*opacity は透明度を表す。[0,1]
letter-spacing:は　文字と文字の間の
スペースを変えることができる。		
*/
.top-wrapper h1{
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}

.top-wrapper p{
  opacity: 0.7;
  font-size: 14px;
  margin-bottom: 35px;
}
/*signupクラスのbackground-colorを#239b76に指定してください*/
.signup{
  background-color:#239b76;
}
/*facebookクラスのbackground-colorを#3b5998に指定してください*/
/*facebookクラスのmargin-rightを10pxに指定してください*/
.facebook{
  background-color:#3b5998;
  margin:10px;
}
/*twitterクラスのbackground-colorを#55aceeに指定してください*/
.twitter{
  background-color:#55acee;
}

/*btnクラスの上下のpaddingを8px、左右のpaddingを24pxに、
文字の色をwhiteに、displayをinline-blockに、
opacityを0.8に指定してください*/
.btn{
  padding:8px 24px;
  color:white;
  display:inline-block;
  opacity:0.8;
  /*border-radiusを4pxに指定してください*/
  border-radius:4px;
}
.btn:hover{
  opacity: 1;
}
/*faクラスのmargin-rightを5pxに指定してください*/
.fa{
  margin-right:5px;
}






